<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Movies - MovieWeb App</title>
</head>
<body>
    <h1>{{ user.name }}'s Movies</h1>
    <a href="{{ url_for('list_users') }}">Back to Users</a>
    {% if movies %}
    <ol>
        {% for movie, notes, user_rating in movies %}
            <li>
                <img src="{{ movie.poster }}" alt="Poster for {{ movie.title }}">
                <h2>{{ movie.title }}</h2>
                <h3>{{ movie.release_year }}</h3>
                <p>IMdB-Rating: {{ movie.rating }}/10, User-Rating: {{ user_rating }}/10</p>
                {% if notes %}
                <p>Notes: {{ notes }}</p>
                {% endif %}
                <a href="{{ url_for('update_movie', user_id=user.id, movie_id=movie.id) }}">Edit</a>
                <form action="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ol>
    {% else %}
        <p>No movies found for this user.</p>
        <a href="{{ url_for('add_movie', user_id=user.id) }}">Do you want to add a movie?</a>
    {% endif %}
</body>
</html>